@namespace DNTCaptcha.Blazor 

<div style="font-family: '@FontName';" class="@CaptchaDivClass">
    <canvas
        id="@ElementId" dir="ltr"
        @attributes="@AdditionalAttributes"
        @ref="@ReferenceToCanvas"
        class="@CaptchaCanvasClass"
        height="0" width="0">
    </canvas>
    @if (ShowRefreshButton)
    {
        <button class="@RefreshButtonClass"
           type="button"
           title="@RefreshButtonTitle"           
           @onclick="@(() => ShowCaptchaAsync())">
           @RefreshButtonChildContent
        </button>
    }
</div>